<h1>Angular Pipes</h1>

<p>Uppser case: {{ title | uppercase }}</p>
<p>Title case: {{ title | titlecase }}</p>
<p>Lower case: {{ title | lowercase }}</p>

<p>Full date: {{ dob | date: 'full'}}<p>
<p>Short date: {{ dob | date: 'short'}}<p>
<p>MM/dd/YYYY date: {{ dob | date: 'MM/dd/yyyy'}}<p>
<p>YYYY-MM-DD date: {{ dob | date: 'yyyy-MM-dd'}}<p>
<p>Price: {{ price | currency }}</p>
<p>Indian Currency: {{ price | currency: 'INR' }}</p>

<p>Json: {{ person | json }}</p>


<h1>Custom Pipes</h1>

<p>MyUppercase Pipe: {{ title | myuppercase }}</p>

<ul>
	<li *ngFor="let student of students | gradefilter: 'A': 'ASC' ">
		{{ student.name }} - {{ student.grade }}
	</li>
</ul>




<h1>Custom Directives</h1>

<h3 myHidden [childFlag]="flag">List of Products</h3>


<h1>Directives Demo</h1>

<button (click)="toggle()">Toggle</button>
<button (click)="add()">Add Products</button>

<div *ngIf="flag">
  This section shows about list of Products
</div>

<div *ngIf="products?.length; else noProducts">
  <ul>
    <li>iPhone 10</li>
    <li>iPad Mini</li>
    <li>Macbook Pro</li>
  </ul>
</div>

<ng-template #noProducts>
  <div style="color: red">No Products</div>
</ng-template>
